window {
  margin: 0px;
  border: 2px solid #c678dd;
  background-color: #e1e2e7;
}

#input {
  margin: 5px;
  border: none;
  color: #7aa2f7;
  background-color: #e1e2e7;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #e1e2e7;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: #dbdbde;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #24283b;
}

#entry:selected {
  background-color: #c0caf5;
}
