window {
  margin: 0px;
  border: 2px solid #c678dd;
  background-color: #1a1b26;
}

#input {
  margin: 5px;
  border: none;
  color: #7aa2f7;
  background-color: #1a1b26;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #1a1b26;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: #252734;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #f8f8f2;
}

#entry:selected {
  background-color: #44475a;
}
